body {
    padding-top: 50px;
    color: #959595;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

.img {
    max-width: 100%;
    min-width: 100%;
    max-height: 40rem;
}

.feature {
    background: rgb(0, 0, 0) linear-gradient(to bottom, rgb(13, 13, 14), rgb(252, 251, 255));
    color: black;
}

#feature-carousel {
    min-height: 400px;
}

#feature-carousel img {
    margin: 0 auto;
}

.article-intro {
    margin-bottom: 0px;
}

.footer-blurb {
    padding: 0px 0;
    background-color: rgb(129, 136, 173);
    color: black;
}

.footer-blurb-item {
    padding: 0px;
}

.small-print {
    background-color: #fff;
    padding: 0px 0;
}

.feature,
.small-print {
    text-align: center;
}

.carousel-caption a{
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(214, 132, 164);
    text-shadow: 4px solid rgb(218, 58, 71);
}

.nav1 img
{
    height: 47px;
    padding: 0em;
    margin: 0rem;
}

.nav1
{
    padding: 1px;
    margin: 1px;
}